.container {
  border: 1px solid purple;
  background-color: #E5E5E5;
  display: flex;
  height: 100%;
}
.productlist {
  height: 100vh;
  overflow: auto;
  padding: 1rem;
  border-left: 1px solid silver;
  width: 50vw;
  display: grid;
  grid-template-columns: 50% 50%;
  @media (max-width: 768px) {
    grid-template-columns: 100%;
  }
}
.filters {
  width: 25%;
  padding: 1rem;
  background-color: white;
  border: 1px solid silver;
  box-shadow: 1px 1px 2px silver;
  margin: 1rem;
  margin-right: 4em;
  height: 100%;
  section {
    padding: 0.5rem 0;
  }
  
  summary {
    font-family: helvetica;
    text-transform: capitalize;
    font-weight: bold;
    padding-bottom: 0.5rem;
    outline: none;
    cursor: pointer;
  }
  label {
    padding-left: 0.25rem;
    font-family: helvetica;
    font-weight: 100;
  }
  
  input, select {
    margin-bottom: 0.5rem;
  }
}
.productcard {
  font-family: helvetica;
  background-color: white;
  padding: 1rem 2.5rem;
  padding-left: 1.5rem;
  align-items: start;
  margin-bottom: 1rem;
  border: 1px solid silver;
  box-shadow: 1px 1px 2px silver;
  display: flex;
  flex-direction: column;
  width: auto;
  max-height: 320px;
  margin-left: 20%;
  img {
    margin-bottom: 2rem;
  }
  h1 {
    padding: 1rem 0;
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  h2 {
    color: #818181;
    text-transform: uppercase;
    font-weight: 100;
  }
  h3 {
    margin-top: 1rem;
    font-weight: 100;
  }
  
  li {
    padding-bottom: 0.5rem;
    color: #818181;
    list-style-type: square;
    margin-left: 1rem;
  }
}
